@font-face {
    font-family: "B";
    src: url('../fonts/Barlow-Bold.ttf');
}

@font-face {
    font-family: "O";
    src: url('../fonts/open-sauce.one-semibold.ttf');
}

@font-face {
    font-family: "p";
    src: url('../fonts/PlayfairDisplay-Black.ttf');
}

body {
    background-color: black;
}

.nombre {
    font-family: "B";
    font-size: 30px;
    color: white;
    top: 20px;
    left: 280px;
    width: 196px;
    height: 44px;
    position: absolute;
}

.home{
    font-family: "O";
    font-size: 15px;
    color: white;
    top: 90px;
    left: 1300px;
    width: 196px;
    height: 44px;
    position: absolute;
}

.home:hover {
    text-decoration-line: underline;
}

.about {
    font-family: "O";
    font-size: 15px;
    color: white;
    top: 90px;
    left: 1400px;
    width: 196px;
    height: 44px;
    position: absolute;
}

.about:hover {
    text-decoration: underline;
}

.menu {
    font-family: "O";
    font-size: 15px;
    color: white;
    top: 90px;
    left: 1500px;
    width: 196px;
    height: 44px;
    position: absolute;
}

.menu:hover {
    text-decoration: underline;
}

.contact {
    font-family: "O";
    font-size: px;
    color: white;
    top: 90px;
    left: 1600px;
    width: 196px;
    height: 44px;
    position: absolute;
}


.contact:hover {
    text-decoration: underline;
}

.texto1 {
    position:absolute;
    color: white;
    font-size: 130px;
    top: 200px;
    left: 500px; 
    font-family: "P";
    text-align:center;
    
}


.cafe {
    position: absolute;
    left: -500px;
    top: 210px;
    width:3000px;
}
.texto2 {
    text-align: center;
    color: white;
    font-size: 100px;
    top: 1500px;
    left: 495px;
    font-family: "P";
    position: absolute;
}

.boton1{
    color: rgb(5, 5, 5);
    position:absolute;
    left: 800px;
    top: 1750px;
    
}
button{
    width: 300px;
    height: 70px;
    font-family: "O";
    font-size: 30px;
    background-color: #ce9e5a;
}




.img1{
    position: absolute;
    top: 1900px;
    width: 1000px;
    left: 30px;
}


.history{
    font-family: "P";
    font-size: 50px;
    color: white;
    left: 1220px;
    top: 1950px;
    position: absolute;
}

.texto3{
    font-family: "O";
    font-weight: 100;
    font-size: 30px;
    color: white;
    left: 1250px;
    top: 2120px;
    position: absolute;
}

.boton2{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 1270px;
    top: 2400px;

}

.Partesup{
    position: relative;
    text-align: center;
}


.img2{
    position: absolute;
    top: 2850px;
    width: 800px;
    left: 1200px;
}
.texto4{
    font-family: "P";
    font-weight: 100;
    font-size: 50px;
    color: white;
    left: 200px;
    top: 2850px;
    position: absolute;
    width: 900px;
}

.texto5{
    font-family: "O";
    font-weight: 100;
    font-size: 30px;
    color: white;
    left: 200px;
    top: 3370px;
    position: absolute;
}
.boton3{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 200px;
    top: 3500px;
}
.texto6{
    font-family: "P";
    font-weight:lighter;
    font-size: 130px;
    color: white;
    left: 100px;
    top: 3700px;
    position: absolute;
}
.img3{
    position: absolute;
    top: 4100px;
    width: 300px;
    left: 470px;
}

.Partemid{
    position: relative;
    
}

.mocha{
    position: relative;
    top: -200px;
    left: -300px;
}

.texto7{
    font-family: "B";
    font-weight: 100;
    font-size: 50px;
    color: white;
    left: 540px;
    top: 4400px;
    position: absolute;
    border: #ffffff 90px;
}

.Espresso{
    font-family: "O";
    color: #ffffff;
    position: absolute;
    left: 500px;
    top: 4600px;
    font-size: 30px;

}
.Chocolate
{
    font-family: "O";
    color: #ffffff;
    position: absolute;
    left: 500px;
    top: 4675px;
    font-size: 30px;
}
.Steamed{
    font-family: "O";
    color: #ffffff;
    position: absolute;
    left: 500px;
    top: 4750px;
    font-size: 30px;
}
.cuadro1{
    position: absolute;
    height: 780px;
    width: 500px;
    border: 2px solid#ce9e5a;
    top: 4300px;
    left: 360px;     
}

.linep{
    position: absolute;
    text-align: center;
    background: #ffffff;
    top: 2090px;
    left: 1080px;
    width: 130px;
    height: 3px;
}
.boton4{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 460px;
    top: 4980px;
}



.mocha2{
    position: relative;
    top: -200px;
    left: 350px;
}
.texto8{
    font-family: "B";
    font-weight: 100;
    font-size: 50px;
    color: white;
    left: 540px;
    top: 4400px;
    position: absolute;
    border: #ffffff 90px;
}

.Espresso2{
    font-family: "O";
    color: #ffffff;
    position: absolute;
    left: 500px;
    top: 4600px;
    font-size: 30px;

}
.Chocolate2
{
    font-family: "O";
    color: #ffffff;
    position: absolute;
    left: 500px;
    top: 4675px;
    font-size: 30px;
}

.Steamed2{
    font-family: "O";
    color: #ffffff;
    position: absolute;
    left: 500px;
    top: 4750px;
    font-size: 30px;
}
.cuadro2{
    position: absolute;
    height: 780px;
    width: 500px;
    border: 2px solid#ce9e5a;
    top: 4300px;
    left: 360px;     
}

.boton5{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 460px;
    top: 4980px;
}
.img4{
    position: absolute;
    top: 4100px;
    width: 300px;
    left: 470px;
}

.mocha3{
    position: relative;
    top: -200px;
    left:1000px;
}
.texto9{
    font-family: "B";
    font-weight: 100;
    font-size: 50px;
    color: white;
    left: 540px;
    top: 4400px;
    position: absolute;
    border: #ffffff 90px;
}

.Espresso3{
    font-family: "O";
    color: #ffffff;
    position: absolute;
    left: 500px;
    top: 4600px;
    font-size: 30px;

}
.Chocolate3
{
    font-family: "O";
    color: #ffffff;
    position: absolute;
    left: 500px;
    top: 4675px;
    font-size: 30px;
}

.Steamed3{
    font-family: "O";
    color: #ffffff;
    position: absolute;
    left: 500px;
    top: 4750px;
    font-size: 30px;
}
.cuadro3{
    position: absolute;
    height: 780px;
    width: 500px;
    border: 2px solid#ce9e5a;
    top: 4300px;
    left: 360px;     
}

.boton6{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 460px;
    top: 4980px;
}
.img5{
    position: absolute;
    top: 4100px;
    width: 300px;
    left: 470px;
}

.linep2{
    position: absolute;
    text-align: center;
    background: #ffffff;
    top: 5280px;
    left: 1080px;
    width: 300px;
    height: 3px;
}