@font-face {
    font-family: 'font1';
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'font2';
    src: url('../fonts/OpenSans-Semibold.ttf');
}

body {
    background-image: linear-gradient(rgb(255, 254, 254), rgb(85, 84, 84));
    height: 1200px;
}

.blanco {
    position: absolute;
    text-align: center;
    border: 1px solid #707070;
    opacity: 1;
    background: #ffffff;
    top: 200px;
    left: 100px;
    width: 1400px;
    height: 800px;
}

.negro {
    position: absolute;
    text-align: center;
    background: #0f0d0d;
    top: 200px;
    left: 1395px;
    width: 110px;
    height: 802px;
}

.logo {
    position: absolute;
    text-align: center;
    top: 243px;
    left: 143px;
    width: 196px;
    height: 44px;
}

.tarjeta {
    position: absolute;
    text-align: center;
    top: 322px;
    left: 227px;
    width: 884px;
    height: 497px;
}

.comprar {
    top: 240px;
    left: 800px;
    width: 230px;
    height: 41px;
    font-family: "font1";
    position: absolute;
    font-size: 26px;
}

.saldo {
    top: 242px;
    left: 1072px;
    width: 132px;
    height: 41px;
    font-family: "font1";
    position: absolute;
    font-size: 26px;
}

.lupa {
    top: 252px;
    left: 1224px;
    width: 27px;
    height: 27px;
}

.carro {
    top: 252px;
    left: 1324px;
    width: 33px;
    height: 32px;
}